<launch>
    <arg name="input_pose_topic" default="/cam_pos_trans"/>
    <arg name="input_reset_topic" default="/reset_position_trans"/>
    <arg name="config_file"      default="$(find spot_arm_interface)/config/default.yaml"/>
    <arg name="rviz"             default="false"/>
    <arg name="use_sim_time"     default="false"/>

    <rosparam if="$(arg use_sim_time)" param="use_sim_time" subst_value="true">$(arg use_sim_time)</rosparam>

    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="spot_arm_interface_rviz" output="screen"
            args="-d $(find spot_arm_interface)/rviz/tf.rviz"/>

    <node pkg="spot_arm_interface" type="spot_arm_interface" name="spot_arm_interface" output="screen">
        <remap from="~input_pose_topic"    to="$(arg input_pose_topic)"/>
        <remap from="~input_reset_topic"   to="$(arg input_reset_topic)"/>
        <rosparam command="load" file="$(arg config_file)"/>
    </node>

    <include file="$(find unity_transform)/launch/unity_to_ros_pose.launch">
        <arg name="input_topic"  value="/cam_pos"/>
        <arg name="output_topic" value="$(arg input_pose_topic)"/>
    </include>

    <include file="$(find unity_transform)/launch/unity_to_ros_pose.launch">
        <arg name="input_topic"  value="/reset_position"/>
        <arg name="output_topic" value="$(arg input_reset_topic)"/>
    </include>

    <include file="$(find spot_arm_interface)/launch/spot_arm_camera_republish.launch"/>
</launch>
